models/e27/model.pth
training/assets/*
!training/assets/dinov3-splus/
training/assets/dinov3-splus/*
!training/assets/dinov3-splus/LICENSE.md
!training/assets/dinov3-splus/README.md
!training/assets/dinov3-splus/config.json
!training/assets/dinov3-splus/receipt.json
results/
input/
.env
.pytest_cache/
**/__pycache__/
**/*.pyc
**/node_modules/
**/dist/
*.tar
*.zip
